<h1>Upload Your CSV FIle Here:</h1>
<form action="/csv/upload" method="post" enctype="multipart/form-data">

    <input type="file" name="csvFile" placeholder="CSV File">
    <input type="submit" value="Upload">

</form>